.Footer h5 {
    font-size: 18px;
    font-family: "Montserrat";
    margin-bottom: 5px;
}

.Footer p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.Footer a {
    margin-top: 8px;
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
}

.Icons {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin-top: 8px;
    padding-bottom: 30px;
}

.Icons a:hover {
    opacity: 80%;
}