nav {
	top: 50%;
	transform: translate(0, -50%);
	color: black;
	position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	right: 0;
}

nav span {
	font-size: 50px;
	color: #6fb3b8;
	border-bottom: 1px solid transparent;
	transition: color 0.2s ease;
	transition-delay: 0.35s;
	z-index: 1;
}

nav span:hover {
	cursor: pointer;
	opacity: 80%;
}

nav span.activeClass {
	color: #badfe7;
}

.Line {
	top: 50%;
	transform: translate(50%, -50%);
	border-left: 5px dashed #ccd0cd;
	height: 300px;
	width: 20px;
	position: fixed;
	z-index: 0;
}